.mainInput {
  background-color: var(--clrInputBackground);
  display: flex;
  padding: 14px 10px;
  min-width: 100%;
  border-radius: 10px 10px 0 0;
}

.mainInputIcon {
  max-width: 36px;
  padding-right: 10px;
}

.mainInputInput {
  background-color: transparent;
  border-color: transparent;
  outline: transparent;
  font-size: 18px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .mainInputIcon {
    max-width: 50px;
  }

  .mainInputInput {
    font-size: 24px;
  }
}
