.todaysWeather {
  background-color: var(--clrInputBackground);
  display: flex;
  padding: 14px 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #fff;
}

.todaysClrBlue {
  background-color: var(--clrTodayBackgroundBlue);
}

.todaysClrRed {
  background-color: var(--clrTodayBackgroundRed);
}

.todaysClrYellow {
  background-color: var(--clrTodayBackgroundYellow);
}

/* todaysWeatherIcon {
} */

.todaysWeatherData {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
