:root {
  --background: #f1f1f1;
  --foreground: #1f1f1f;
  --inputArea: #8e8a88;

  --clrInputBackground: rgb(255, 255, 255, 0.9);

  --clrTodayBackgroundRed: rgb(255, 0, 0, 0.9);
  --clrTomorrowBackgroundRed: rgb(255, 0, 102, 0.9);
  --clrAfterTomorrowBackgroundRed: rgb(204, 0, 0);

  --clrTodayBackgroundYellow: rgb(226, 184, 20, 0.9);
  --clrTomorrowBackgroundYellow: rgb(249, 203, 4, 0.9);
  --clrAfterTomorrowBackgroundYellow: rgb(181, 149, 3);

  --clrTodayBackgroundBlue: rgb(0, 255, 255, 0.9);
  --clrTomorrowBackgroundBlue: rgb(102, 255, 255, 0.9);
  --clrAfterTomorrowBackgroundBlue: rgb(0, 204, 204);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body,
#__next {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
