.weatherToday {
  background-color: var(--clrInputBackground);
  display: flex;
  flex-direction: row;
  color: var(--background);
}

.todaysClrBlue {
  background-color: var(--clrTodayBackgroundBlue);
}

.todaysClrRed {
  background-color: var(--clrTodayBackgroundRed);
}

.todaysClrYellow {
  background-color: var(--clrTodayBackgroundYellow);
}

.weatherTodayIcon {
  padding: 24px;
  width: 100%;
}

.weatherTodayData {
  padding: 18px 4px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weatherTodayDataTemperature {
  padding: 6px 0 12px;
  font-size: 20px;
}

.weatherTodayDataDescription {
  padding-bottom: 6px;
  font-size: 20px;
}

@media (min-width: 600px) {
}
