.weatherToday {
  background-color: var(--clrInputBackground);
  display: flex;
  flex-direction: row;
  color: var(--background);
}

.weatherTodayBkgBlue {
  background-color: var(--clrTodayBackgroundBlue);
}

.weatherTodayBkgRed {
  background-color: var(--clrTodayBackgroundRed);
}

.weatherTodayBkgYellow {
  background-color: var(--clrTodayBackgroundYellow);
}

.weatherTodayIcon {
  padding: 24px 0;
  width: 100%;
}

.weatherTodayData {
  padding: 18px 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weatherTodayDataToday {
  font-size: 18px;
}

.weatherTodayDataTemperature {
  padding: 6px 0 12px;
  font-size: 20px;
}

.weatherTodayDataDescription {
  padding-bottom: 6px;
  font-size: 22px;
}

.weatherTodayDataNamed {
  font-size: 16px;
}

@media (min-width: 600px) {
  .weatherTodayDataToday {
    font-size: 22px;
  }

  .weatherTodayDataTemperature {
    font-size: 24px;
  }

  .weatherTodayDataDescription {
    font-size: 26px;
  }

  .weatherTodayDataNamed {
    font-size: 20px;
  }
}
